.image {
    object-fit: cover;
  }
  .cardContainer {
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 1px solid black;
  }
  .infoContainer {
    padding: 1rem;
  }
  .title {
    font-weight: 600;
  }
  .date {
    font-size: 0.6rem;
  }
  .carousel-wrapper {
    width: 100vw;
  }
  .carousel-list {
    padding: 5rem;
  }