.image {
    object-fit:cover;
}
.widgetContainer {
   
    display:grid;
    width: 300px;
    border: light-grey solid 1px;
}
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding:0.5rem 1rem;
}

.infoContainer{
    padding:0  1rem ;
}
.title{
    font-weight:600;
}
.date{
    font-size:0.6rem;
}