.popupContainer {
  margin: 0 auto;
  width: 80%;
  height: 15vh;
  background: #1e1e24;
  border: 1px solid #ccff02;
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 4px #ccff02;
  z-index: 1;
  position: absolute;
  left: 10%;
  bottom: 10vh;
  transition: all 0.7s ease-in;
  overflow: hidden;
  display: flex;
}

.popupImageContainer {
  max-width: 40%;
  /* height: 15vh; */
  display: flex;
  border: 5px solid #1e1e24;
  overflow: hidden;
}

.popupImage {
  align-self: center;
  position: relative;
  width: 120px;
  /* height: 120px; */
  /* padding: 1rem; */

  object-fit: contain;
}

.popupInfoContainer {
  display: flex;
  flex-direction: column;
}

.closeBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
