.container > ul > li {
  display: inline;
}
.container {
  z-index: 5;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background: #1e1e24;
  height: 8vh;
  border-top: 1px #ffffff solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu {
  margin-left: 2rem;
}
.loginBtn {
  display: inline;
  padding: 0.2rem 1rem;
  border-radius: 20%;
  margin-right: 2rem;
}
.navbarLink {
  padding: 0rem 2rem;
}
/* @media(max-width:680px){
    .container{
             
    }
} */
