.container>ul>li{

    display:inline;

   

}
@media(max-width:680px){
    .container{
        height:5vh;
        border: 1px grey solid; 
        margin: 0 5%;
        
    }
}
@media(min-width:681px){
    .container{
        visibility:hidden;
    }
}

