.content {
    margin: 0 10%;
}


.widgetContainer ::-webkit-scrollbar {
    display: none;
  }
  .widgetContainer{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }