.content {
    margin: 0 10%;
  background: #1E1E24;

  }



.content ::-webkit-scrollbar {
    display: none;
  }
  .content{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }