@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #1E1E24;
}

h1 {
  font-size: 40px;
}
p {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}

li {
  display: inline-block;
}

.box {
  width: 20px;
  height: 20px;
  background-color: #000000;
}

.imageFit {
  object-fit: cover;
}

.buttonPrimary {
  width: 5rem;
  height: 1.5rem;
  background-color: #ccff02;
  color: #1e1e24;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 600;
  border-style: none;
  cursor: hand;
  border-top: 1px solid #ccff02;
}

.buttonPrimary:hover {
  background-color: #ffffff;
}

.popupTitle {
  font-size: 1.25rem;
  font-weight: 800;
}

.popupAuthor {
  font-size: 0.75rem;
  font-weight: 400;
}