/* .gridLayout {
  background-color: aquamarine;
  padding: 10px;
  height: 100vh;
  width: 100vw;
  display: grid declared;
  grid-template-columns: 6vw, 6vw, 6vw, 6vw, 6vw, 6vw, 6vw, 6vw, 6vw, 6vw, 6vw,
    6vw, 6vw, 6vw, 6vw;
  grid-template-rows: 6.25vh, 6.25vh, 6.25vh, 6.25vh, 6.25vh, 6.25vh, 6.25vh,
    6.25vh, 6.25vh, 6.25vh, 6.25vh, 6.25vh, 6.25vh, 6.25vh, 6.25vh, 6.25vh;
} */

.popUpContent {
  cursor: pointer;
}

.button {
  position: absolute;
  margin-left: 90rem;
  margin-top: 2rem;
  z-index: 2;
}
